/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sojourn-menu-section {
	border: 1px dotted #f00;
}

.editor-styles-wrapper .menu-section__intro {
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 40rem) {

  .menu-section__items {
    display: block;
  }

  .menu-section__items > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: grid;
    gap: 0 4.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .menu-section__items > .block-editor-inner-blocks > .block-editor-block-list__layout .menu-item {
    width: 100%;
  }

}
