/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ridges-text-with-icon {
	// background-color: #21759b;
	// color: #fff;
	
	display: flex;
	margin-bottom: 1rem;
	align-items: flex-start;
}

.text-with-icon--vertical-align-center {
	align-items: center;
}

.text-with-icon__icon-placeholder, .text-with-icon__icon {
	width: var(--icon-size);
	margin-bottom: 0;
	margin-right: 1rem;
}

// .text-with-icon__icon-placeholder img, .text-with-icon__icon img {
// 	margin-bottom: 0;
// }

.text-with-icon__content > *:last-child {
	margin-bottom: 0;
}
