/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ridges-focus-area-hero {
	// border: 1px dotted #f00;
}

.editor-styles-wrapper {

	.wp-block-ridges-focus-area-hero {
		margin-bottom: 1.5rem;
	}

	.focus-area-hero__title-container {
		padding: 2rem;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}

	.focus-area-hero__title-container h1 {
		color: var(--taupe);
		font-weight:300;
		font-variation-settings: "wght" 300;
	}

	.focus-area-hero__icon-placeholder, .focus-area-hero__icon {
		margin-bottom: 1.5rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 25rem;
	}

}


@media only screen and (min-width: 40rem) {

	// .wp-block-ridges-focus-area-hero {
	// 	margin-bottom: 5.625rem;
	// }

	// .focus-area-hero__title-container {
	// 	display: flex;
  //   width: max-content;
  //   margin-left: auto;
  //   margin-right: auto;
  //   align-items: center;
	// 	margin-top: 9rem;
	// 	margin-bottom: 9rem;
	// 	padding: 2rem 2.5rem;
	// }

	// .focus-area-hero__title-container h1 {
	// 	margin-bottom: 0;
	// }

	// .focus-area-hero__icon-placeholder, .focus-area-hero__icon {
	// 	margin-bottom: 0;
	// 	margin-left: unset;
	// 	margin-right: 1.5rem;
	// 	max-width: 11.25rem;
	// }

	.editor-styles-wrapper {

		.wp-block-ridges-focus-area-hero {
			margin-bottom: 5.625rem;
		}

		.focus-area-hero__title-container {
	    margin-left: auto;
	    margin-right: auto;
      margin-top: 9rem;
      margin-bottom: 9rem;
      padding: 2rem 2.5rem;
		}

		.focus-area-hero__title-container h1 {
			margin-bottom: 0;
		}

		.focus-area-hero__icon-placeholder, .focus-area-hero__icon {
			margin-bottom: 0;
			// margin-left: unset;
			margin-right: 1.5rem;
			max-width: 11.25rem;
		}

		.focus-area-hero__icon-placeholder img, .focus-area-hero__icon img {
			margin-bottom: 0;
		}

	}

}
